/* Desktop Layout */
.pageRoot {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px 4fr;
}
header {
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 3%;
    align-items: center;
}
.logo {
    height: 250px;
    width: 250px;
}
h1 {
    font-size: 60px;
    text-shadow: 3px 3px #FF0099;
    margin: 0;
}
.subhead {
    font-size: 42px;
    margin: 0;
    text-align: right;
    width: 100%;
}
nav {
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10%;
}
nav a {
    font-size: 32px;
    padding: 5px;
}
.textLink {
    font-family: 'rubik', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--darkpink);
    text-shadow: 1.5px 1.5px #42045a;
}  
.shopLink {
    font-size: 26px;
    padding: 2px;
    margin: 5px;
}
.shop {
    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-size: 36px;
}
h2, h3 {
    margin: 2%;
}
h3 {
    color: var(--purple);
    font-weight: bold;
    font-size: 26px;
}
.container {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.storePreview {
    height: 80%;
    width: 80%;
    box-shadow: 1px 2px 2px black;
    border-radius: 2px;
}
.blog {
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4 {
    color: var(--purple);
    font-size: 20px;
    margin: 0 60% 0 0;
}
p {
    color: white;
    width: 80%;
    font-size: 18px;
}
.textLink:hover {
    background-color: var(--purple);
    color: white;
    text-shadow: none;
    border-radius: 5px;
}
.textLink:active {
    transform: scale(0.99);
}