:root {
    --lightpurple: #FF3399;
    --darkpurple: #990066;
    --pink: #FF7BAC;
}
html {
    height: 100%;
    background-image: url('./images/cover.png');
}
body {
    height: 100%;
}
.container {
    background-color: var(--pink);
    opacity: 0.61;
    border-radius: 20px;
}
.logo {
    height: 100%;
    width: 100%;
}