:root {
    --darkpink: #FF3399;
    --purple: #990066;
    --pink: #FF7BAC;
}
html {
    height: 100%;
    background-image: url('./images/cover.png');
}
body {
    height: 100%;
}
.container {
    background-color: var(--pink);
    opacity: 0.61;
    border-radius: 20px;
}
.logo {
    height: 100%;
    width: 100%;
}
h1, h2, .subhead {
    font-family: "Shrikhand", Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h3, h4, p {
    font-family: "rubik", Arial, Helvetica, sans-serif;
}