:root {
    --darkpink: #FF3399;
    --purple: #990066;
    --pink: #FF7BAC;
}
html {
    height: 100%;
    background-image: url('./images/cover.png');
}
body {
    height: 100%;
}
.container {
    background-color: rgba(255,123,172,0.61);
    border-radius: 20px;
}
h1, h2, .subhead {
    font-family: "Shrikhand", Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h3, h4, p {
    font-family: "rubik", Arial, Helvetica, sans-serif;
}
.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.05); }
.legend {
    background: var(--purple) !important;
}